@model EverGardenNew.Models.PlantActivity

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display: flex;">
    <partial name="_AdminSidebar" />
    <div class="col-10">
        <div style="display: flex; justify-content: space-between; margin-top: 10px">
            <h2>Create Activity</h2>
            <p style="margin-top: 4px; margin-bottom: 0px;">
                <a class="btn" style="background-color: black; color: white" asp-action="Index">Back to List</a>
            </p>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Instructions" class="control-label"></label>
                        <input asp-for="Instructions" class="form-control" />
                        <span asp-validation-for="Instructions" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NeededTools" class="control-label"></label>
                        <input asp-for="NeededTools" class="form-control" />
                        <span asp-validation-for="NeededTools" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PlantID" class="control-label"></label>
                        <select asp-for="PlantID" class="form-control" asp-items="ViewBag.PlantID"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn" style="background-color: #75C260" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
