<div class="col-2" style="background-color: #303030; min-height: 80vh;">
    <div style="display: flex; flex-direction: column">
        <div class="mt-4 mb-4">
            <a class="nav-link text-light" asp-area="" asp-controller="Plants" asp-action="Index">Plants</a>
            <hr style="background-color: white"/>
            <a class="nav-link text-light" asp-area="" asp-controller="PlantActivities" asp-action="Index">Plant Activities</a>
            <hr style="background-color: white"/>
            <a class="nav-link text-light" asp-area="" asp-controller="CategoryEdibles" asp-action="Index">Category(Edible or not)</a>
            <hr style="background-color: white"/>
            <a class="nav-link text-light" asp-area="" asp-controller="CategoryPlaces" asp-action="Index">Category(Place of growth)</a>
        </div>
    </div>
</div>
